ul.lst-kix_ovd0g3rdcq3r-1 {
    list-style-type: none
}

ul.lst-kix_ovd0g3rdcq3r-2 {
    list-style-type: none
}

ul.lst-kix_ovd0g3rdcq3r-0 {
    list-style-type: none
}

.lst-kix_ovd0g3rdcq3r-2>li:before {
    content: "\0025a0  "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_ovd0g3rdcq3r-3>li:before {
    content: "\0025cf  "
}

.lst-kix_ovd0g3rdcq3r-4>li:before {
    content: "\0025cb  "
}

.lst-kix_ovd0g3rdcq3r-6>li:before {
    content: "\0025cf  "
}

.lst-kix_ovd0g3rdcq3r-1>li:before {
    content: "\0025cb  "
}

.lst-kix_ovd0g3rdcq3r-5>li:before {
    content: "\0025a0  "
}

ul.lst-kix_ovd0g3rdcq3r-5 {
    list-style-type: none
}

ul.lst-kix_ovd0g3rdcq3r-6 {
    list-style-type: none
}

ul.lst-kix_ovd0g3rdcq3r-3 {
    list-style-type: none
}

.lst-kix_ovd0g3rdcq3r-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_ovd0g3rdcq3r-4 {
    list-style-type: none
}

.lst-kix_ovd0g3rdcq3r-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_ovd0g3rdcq3r-7 {
    list-style-type: none
}

.lst-kix_ovd0g3rdcq3r-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_ovd0g3rdcq3r-8 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c19 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 451.4pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c6 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c5 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c4 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c10 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c12 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c15 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c9 {
    color: #434343;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c7 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c14 {
    font-weight: 400;
    font-size: 14pt;
    font-family: "Times New Roman"
}

.c17 {
    font-size: 17pt;
    font-family: "Times New Roman";
    font-weight: 400
}

.c1 {
    font-size: 12pt;
    font-family: "Times New Roman";
    font-weight: 400
}

.c16 {
    background-color: #ffffff;
    max-width: 451.4pt;
    padding: 72pt 72pt 72pt 72pt
}

.c20 {
    font-weight: 700;
    font-size: 16pt;
    font-family: "Times New Roman"
}

.c18 {
    font-size: 16pt;
    font-family: "Times New Roman";
    font-weight: 400
}

.c11 {
    font-size: 9pt;
    font-family: "Times New Roman";
    font-weight: 400
}

.c23 {
    font-size: 32pt;
    font-family: "Times New Roman";
    font-weight: 400
}

.c21 {
    padding: 0;
    margin: 0
}

.c13 {
    padding-left: 0pt
}

.c8 {
    margin-left: 36pt
}

.c22 {
    height: 0pt
}

.c3 {
    height: 11pt
}



.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}


body
{
  counter-reset: page;
}
#pageFooter
{
    page-break-before: always;
     counter-increment: page;
}
#pageFooter:after
{
    display: block;
    text-align: right;
    content: "Page " counter(page);
}
#pageFooter.first.page
{
   page-break-before: avoid;
}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
 }
li {
 display: table;
 counter-increment: item;
 margin-bottom: 0.6em;
}
li:before {
 content: counters(item, ".") ". ";
 display: table-cell;
 padding-right: 0.6em;
}
li li {
 margin: 0;
}
 li li:before {
 content: counters(item, ".") " ";
}

.row {
    display: table;
   }

  .title, .dots, .value {
      display: table-cell;
    }

 .title, .value {
      white-space: nowrap;
 }

.table {
   width: 1000px;
   margin: 10px;
   
 }

 .dots {
     border-bottom: 2px dotted gray;
     width: 200%
 }
 .ip{
    padding: 10px;
    display: block;
  margin-left: auto;
  margin-right: auto;
    height: 600px;
    width: 600px;
 }
 .erdiagram{
    display: block;
  margin-left: auto;
  margin-right: auto;

 }
 