{% extends 'dependencies.html' %}
 
{% block content %}
{% load static %}

                <div class="container ">
                     <h1>Welcome to Xm Cohort</h1>
 
                     <div align="right " id="displaytimer"><b>Timer: 0 seconds</b></div>
 
                           <form method='post' action=''>
                            <ol type="1">
                            {% csrf_token %}
                              {% for q  in ques%}
                             
                                
                                    <li>
                              
                                   <div class="form-group">
                                     <label for="question">{{q.Qques}}</label>
                                   </div>
                                <div class="form-check">
                                    <div class="form-check">
                                            <input class="form-check-input" type="radio" name="{{q.Qques}}" id="gridRadios1" value={{q.Qoption1}} checked="checked">
                                            <label class="form-check-label" for="gridRadios1">
                                                {{q.Qoption1}}
                                            </label>
                                    </div>
                
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="{{q.Qques}}" id="gridRadios2" value={{q.Qoption2}} checked="checked">
                                        <label class="form-check-label" for="gridRadios2">
                                        {{q.Qoption2}}
                                         </label>
                                    </div>
                                    <div class="form-check">
                                          <input class="form-check-input" type="radio" name="{{q.Qques}}" id="gridRadios1" value={{q.Qoption3}} checked="checked">
                                          <label class="form-check-label" for="gridRadios1">
                                          {{q.Qoption3}}
                                         </label>
                                    </div>
                                   <div class="form-check">
                                       <input class="form-check-input" type="radio" name="{{q.Qques}}" id="gridRadios2" value={{q.Qoption4}} checked="checked">
                                        <label class="form-check-label" for="gridRadios2">
                                       {{q.Qoption4}}
                                       </label>
                                    </div>
                                          <br>
                                </div>
                            
                        </li>
                         
                              
                            {% endfor %}
                        </ol>
                                <input id='timer' type='hidden' name="timer" value="">
                                <br>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
        {% block script %}
        <script>
 
            console.log('hello world')
            const timer=document.getElementById('displaytimer')
            console.log(timer.textContent)
            const inputtag = document.getElementById('timer')
 
            t=0
            setInterval(()=>{
                t+=1
                timer.innerHTML ="<b>Timer: " +t+" seconds</b>"
                inputtag.value = t
            },1000)
        </script>
    {% endblock script %}
 
</div>
{% endblock %}
				
			